<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/vsoproject.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Vermont Symphony Orchestra  </h3>
    <ul>
      <li> Web Development</li>
      <li> PHP/mySQL/CSS3</li>
    </ul>
    <p>Volunteer with the Vermont Symphony Orchestra to maintain and develop new features for thier housing management web application</p>
    <a class="project-link" href="https://github.com/billkeys/vsohousing">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/codebtv.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    
    <p>Contributed to the Code for BTV civic hacker community</p>
    <a class="project-link" href="https://github.com/codeforbtv/live-music-venue-directory">Check it out</a>
  </div>
</div>
